[submodule "topic_modeling/pytrends"]
	path = topic_modeling/pytrends
	url = https://github.com/DmytroBabenko/pytrends.git
[submodule "pytrends/pytrends"]
	path = pytrends/pytrends
	url = https://github.com/DmytroBabenko/pytrends
